package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 * User: ${author} <p />
 * Time: ${date}  <p />
 * Version: V1.0  <p />
 * Description: $!{table.comment} 服务类 <p />
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

}
#end
